<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Experiencia
        </h1>
    </div>
    <div class="col-md-12">
            <div *ngFor = "let experiencia of listaExperiencia">
                <div class="data-container">
                        <div class="logo-image-container">
                            <img
                              class="logo-image"
                              [src]="experiencia.img"
                            />
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>{{experiencia.nombre}}</h3>
                                <p>{{experiencia.cargo}}</p>
                                <p><time>{{experiencia.fechaInicio}}</time> - <time>{{experiencia.fechaFin}}</time></p>
                            </div>
                        </div>                
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="#" class="btn-rigth"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
            </div>        
    </div>  
</div>

