<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Proyectos
        </h1>
    </div>
    <div class="col-md-12">
        <ul>
            <li *ngFor = "let proyecto of listaProyectos">
                <div class="data-container">
                        <div class="logo-image-container">
                            <img
                              class="logo-image"
                              [src]="proyecto.img"
                            />
                        </div>
                        <div class="list-info">
                            <div>
                                <h3>{{proyecto.nombre}}</h3>
                                <p>{{proyecto.cargo}}</p>
                                <p><time>{{proyecto.fechaInicio}}</time> - <time>{{proyecto.fechaFin}}</time></p>
                            </div>
                        </div>                
                    
                </div>
                <div class="data-control">
                    <div class="btn-edit">
                        <a href="#" class="btn-rigth"><i class="fa fa-pen"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        
    </div>  
</div>