<div>
    <div class="p-card page-border p-4 animation-card">
      <div class="row">
        <div class="col d-sm-inline-flex">
          <h3 class="fondo-textoS">HABILIDADES</h3>  
        <button pButton type="button" 
        class="p-button-rounded float-end ms-3" 
        icon="pi pi-plus" iconPos="left" 
        title="Agregar"
        [routerLink]="'/habilidades/agregar'"
        ></button>
        </div>
      </div>
      <hr>
      <div class="grid page-border page-card mt-3">
    <div class="col-12">
      <h3>Full Stack Developer</h3>
    <p-table #dt1 [value]="habilidades" rowGroupMode="rowspan" groupRowsBy="grupo.name"  
        sortField="group.name" sortMode="single" 
        [globalFilterFields]="['name','category.name','status.name','grupo.name']"
        >
        <ng-template pTemplate="caption">
          <div class="flex">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1);inputS.value = '';"></button>
              <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input #inputS pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex align-items-center">
                    Grupo
                    <p-columnFilter type="text" field="grupo.name" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex align-items-center">
                    Nombre
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex align-items-center">
                    Categoría
                    <p-columnFilter type="text" field="category.name" display="menu"></p-columnFilter>
                </div>
              </th>
              <th>
                <div class="flex align-items-center">
                    Status or Level
                    <p-columnFilter type="text" field="status.name" display="menu"></p-columnFilter>
                </div>
              </th>
                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-habilidad let-rowgroup="rowgroup" let-rowIndex="rowIndex"
            let-rowspan="rowspan">
            <tr>
              <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                <span class="p-text-bold p-ml-2">
                  <h4>{{habilidad.grupo.name}}</h4></span>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <span *ngIf="habilidad.img"><img src="{{urlserver}}/uploads/img/{{habilidad.img}}" 
                    class="imagen-skill" style="cursor: pointer;" [routerLink]="['/habilidades/editar', habilidad.id]"></span>
                    <span *ngIf="!habilidad.img"><img src="{{urlserver}}/images/image_add_fill_icon.png" 
                      class="imagen-skill" style="cursor: pointer;" [routerLink]="['/habilidades/editar', habilidad.id]"></span>
                 <h5 class="pl-3">{{habilidad.name}}</h5>
                </div>
             </td>
              <td>
                  <span class="p-text-bold p-ml-2">{{habilidad.category.name}}</span>
                </td>
                <td>
                  <div class="status-div" [ngStyle]="{'backgroundColor': habilidad.status.color.toString()}">
                    <span class="status-span"><b>{{habilidad.status.name}}</b></span>
                  </div>
                 
                </td>
                <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                [routerLink]="['/habilidades/editar', habilidad.id]"
                title="Editar"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                [routerLink]="['/habilidades/eliminar', habilidad.id]"
                title="Eliminar" ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
  </div>  
</div>
</div>

      

<!-- Modal -->
<div class="modal fade" id="editarSkills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-card">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  